<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p th:text="${msg}" style=""></p>
<form class="field" th:action="@{/admin/login}" method="post">
    <img class="mb-4" th:src="@{images/txx.png}" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal" >管理员登录</h1>
    <p><label class="sr-only">Username</label>
        <input type="text" class="form-control" name="username"  required="" autofocus="">
    </p>
    <p><label class="sr-only">Password</label>
        <input type="password" class="form-control" name="password"  required="">
    </p>
    <p>
        <button class="btn btn-lg btn-primary btn-block" type="submit" >登录</button>
    </p>

</form>
</body>
</html>
