<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"        		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.blog.dao.BlogMapper">
<!--        所有博客-->
    <resultMap id="blog" type="Blog">
        <id property="id" column="bid"/>
        <result property="content" column="content"/>
        <result property="createTime" column="create_time"/>
        <result property="firstPicture" column="first_picture"/>
        <result property="pblished" column="published"/>
        <result property="title" column="title"/>
        <result property="updateTime" column="update_time"/>
        <result property="views" column="views"/>
        <result property="typeId" column="type_id"/>
        <result property="description" column="description"/>
        <association property="type" javaType="Type">
            <id property="id" column="tid"/>
            <result property="name" column="tname"/>
        </association>
    </resultMap>

<!--通过类型和title查询博客-->
    <select id="queryBlogByTitleAndType" parameterType="SearchBlog" resultMap="blog">
        select b.published,b.id bid,b.title,t.name tname,b.create_time,b.type_id btid,b.description,t.id tid,t.name tname from t_blog b,t_type t
        <where>
            b.type_id = t.id
            <if test="title!=null">
                and b.title like CONCAT(CONCAT('%',#{title}),'%')
             </if>
             <if test="typeId !=null">
                and t.id = #{typeId}
             </if>
        </where>
    </select>



<!--    查询所有博客-->
    <select id="queryBlogs" resultMap="blog">
        select b.id bid,b.content,b.create_time,b.first_picture,b.published,b.title,b.update_time,b.views,b.type_id btid,b.description,t.id tid,t.name tname
        from t_blog b,t_type t
          where b.type_id = t.id
    </select>


<!--    查询具体博客信息-->
    <select id="queryBlogById" resultMap="blog">
        select b.id bid,b.content,b.create_time,b.first_picture,b.published,b.title,b.update_time,b.views,b.type_id btid,b.description,t.id tid,t.name tname
        from t_blog b,t_type t
        where b.type_id = t.id and b.id = #{id}
    </select>



    <!--  查询博客名是否存在-->
    <select id="queryBlogByName" parameterType="java.lang.String" resultType="Type">
        select * from t_blog where title = #{title} limit 1
    </select>

<!--        增加博客-->
    <insert id="addBlog" parameterType="Blog" keyProperty="id">
        insert into t_blog(content,create_time,update_time,first_picture,published,title,type_id,description)
                                 values(#{content},#{createTime},#{updateTime},#{firstPicture},#{pblished},#{title},#{typeId},#{description})
    </insert>
<!--        删除博客-->
    <delete id="deleteBlog" >
        delete from t_blog where id = #{id}
    </delete>
<!--           修改博客-->
    <update id="updateBlog" parameterType="Blog">
        update t_blog set
        title = #{title},
        content = #{content},
        type_id = #{typeId},
        update_time = #{updateTime},
        first_picture = #{firstPicture},
        published = #{pblished},
        description = #{description}
        where id = #{id}
    </update>



</mapper>
