<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"        		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.blog.dao.TypeMaaper">

    <select id="queryTypes" resultType="Type">
        select * from t_type
    </select>

    <select id="queryTypeByName" resultType="Type">
        select * from t_type where name = #{name}
    </select>

    <select id="queryTypeById" resultType="Type">
        select * from t_type where id = #{id}
    </select>


    <insert id="addType" keyProperty="id" parameterType="java.lang.String">
        insert into t_type(name) values (#{name})
    </insert>

    <delete id="deleteType">
        delete from t_type where name = #{name}
    </delete>

    <update id="updateType" parameterType="Type">
        update t_type set name=#{name} where id=#{id}
    </update>



</mapper>
